<div class="container">
  <mat-card class="card">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="backNavigation()"
      class="back__arrow"
      >arrow_back_ios</mat-icon
    >
    <form [formGroup]="productForm">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col email">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Código</mat-label>
            <input matInput formControlName="code" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock" />
          </mat-form-field>
        </div>

        <div class="col button">
          <button mat-raised-button color="primary" (click)="saveProduct()">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
