.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }
  
  .card {
    background-color: #f3f3f3;
    width: 80%;
  }
  
  .form-field,
  .label {
    color: #000;
  }
  
  table {
    width: 100%;
  }
  
  button{
    margin-right: 10px;
  }
  
  .buttons{
    width: 200px;
  }
  
  .crate-button{
    margin-top: 20px;
    align-items: flex-end;
  }